@font-face {
    font-family: 'Circular Std';
    src: url('hinted-CircularStd-Black.eot');
    src: url('hinted-CircularStd-Black.eot?#iefix') format('embedded-opentype'),
        url('hinted-CircularStd-Black.woff2') format('woff2'),
        url('hinted-CircularStd-Black.woff') format('woff'),
        url('hinted-CircularStd-Black.ttf') format('truetype'),
        url('hinted-CircularStd-Black.svg#CircularStd-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('hinted-GreycliffCF-Medium.eot');
    src: url('hinted-GreycliffCF-Medium.eot?#iefix') format('embedded-opentype'),
        url('hinted-GreycliffCF-Medium.woff2') format('woff2'),
        url('hinted-GreycliffCF-Medium.woff') format('woff'),
        url('hinted-GreycliffCF-Medium.ttf') format('truetype'),
        url('hinted-GreycliffCF-Medium.svg#GreycliffCF-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF Demi';
    src: url('hinted-GreycliffCF-DemiBold.eot');
    src: url('hinted-GreycliffCF-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('hinted-GreycliffCF-DemiBold.woff2') format('woff2'),
        url('hinted-GreycliffCF-DemiBold.woff') format('woff'),
        url('hinted-GreycliffCF-DemiBold.ttf') format('truetype'),
        url('hinted-GreycliffCF-DemiBold.svg#GreycliffCF-DemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('hinted-GreycliffCF-Heavy.eot');
    src: url('hinted-GreycliffCF-Heavy.eot?#iefix') format('embedded-opentype'),
        url('hinted-GreycliffCF-Heavy.woff2') format('woff2'),
        url('hinted-GreycliffCF-Heavy.woff') format('woff'),
        url('hinted-GreycliffCF-Heavy.ttf') format('truetype'),
        url('hinted-GreycliffCF-Heavy.svg#GreycliffCF-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('hinted-GreycliffCF-Regular.eot');
    src: url('hinted-GreycliffCF-Regular.eot?#iefix') format('embedded-opentype'),
        url('hinted-GreycliffCF-Regular.woff2') format('woff2'),
        url('hinted-GreycliffCF-Regular.woff') format('woff'),
        url('hinted-GreycliffCF-Regular.ttf') format('truetype'),
        url('hinted-GreycliffCF-Regular.svg#GreycliffCF-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('hinted-CircularStd-Book.eot');
    src: url('hinted-CircularStd-Book.eot?#iefix') format('embedded-opentype'),
        url('hinted-CircularStd-Book.woff2') format('woff2'),
        url('hinted-CircularStd-Book.woff') format('woff'),
        url('hinted-CircularStd-Book.ttf') format('truetype'),
        url('hinted-CircularStd-Book.svg#CircularStd-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('hinted-CircularStd-Bold.eot');
    src: url('hinted-CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('hinted-CircularStd-Bold.woff2') format('woff2'),
        url('hinted-CircularStd-Bold.woff') format('woff'),
        url('hinted-CircularStd-Bold.ttf') format('truetype'),
        url('hinted-CircularStd-Bold.svg#CircularStd-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF Extra';
    src: url('hinted-GreycliffCF-ExtraBold.eot');
    src: url('hinted-GreycliffCF-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('hinted-GreycliffCF-ExtraBold.woff2') format('woff2'),
        url('hinted-GreycliffCF-ExtraBold.woff') format('woff'),
        url('hinted-GreycliffCF-ExtraBold.ttf') format('truetype'),
        url('hinted-GreycliffCF-ExtraBold.svg#GreycliffCF-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('hinted-GreycliffCF-Light.eot');
    src: url('hinted-GreycliffCF-Light.eot?#iefix') format('embedded-opentype'),
        url('hinted-GreycliffCF-Light.woff2') format('woff2'),
        url('hinted-GreycliffCF-Light.woff') format('woff'),
        url('hinted-GreycliffCF-Light.ttf') format('truetype'),
        url('hinted-GreycliffCF-Light.svg#GreycliffCF-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('hinted-CircularStd-Medium.eot');
    src: url('hinted-CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('hinted-CircularStd-Medium.woff2') format('woff2'),
        url('hinted-CircularStd-Medium.woff') format('woff'),
        url('hinted-CircularStd-Medium.ttf') format('truetype'),
        url('hinted-CircularStd-Medium.svg#CircularStd-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('hinted-GreycliffCF-Bold.eot');
    src: url('hinted-GreycliffCF-Bold.eot?#iefix') format('embedded-opentype'),
        url('hinted-GreycliffCF-Bold.woff2') format('woff2'),
        url('hinted-GreycliffCF-Bold.woff') format('woff'),
        url('hinted-GreycliffCF-Bold.ttf') format('truetype'),
        url('hinted-GreycliffCF-Bold.svg#GreycliffCF-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

